<div class="row">
  <div class="col-md-4">
      <h2>Introduction</h2>
      <p>
          Hello – and let me introduce myself. I’m Dr. Smith Thompson, D.C., and I am the owner and founder of The Health Improvement Center in Vienna VA. I am a Clinical Nutritionist and Chiropractor.         
     </p>
      <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">More Detail &raquo;</a></p>
  </div>
  <div class="col-md-4">
      <h2>History</h2>
      <p>I opened my clinic in 1997 with the sole purpose to help as many people as possible restore their health naturally. So, why natural health care? Well, our society has become a ‘drugged’ society – a pill for this and a pill for that hoping it will ‘cure’ whatever ails us. This doesn’t always work and sometimes the side effects can be far more damaging than the ailment. Natural health care gets to the root of your health concern rather than chasing your symptoms.</p>
      <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">More Detail &raquo;</a></p>
  </div>
  <div class="col-md-4">
      <h2>Aiming point</h2>
      <p> My aim is also to educate my clients and the people I meet about natural health care options including what I do and how 70% of getting better depends upon what you eat. I would rather teach someone how to fish than to give them a fish; meaning that I want to educate my clients so they can help themselves and not be dependent on me.</p>
      <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">More Detail &raquo;</a></p>
  </div>
</div>